
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}
nav{
    font-size: 22px;
    background-color: black;
    color: grey;
    display: flex;
    height: 70px;
    align-items: center;
    padding: 0px 12px;
}

nav ul{
    list-style-type: none;
}

.gameContainer{
   
   
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container{
    position: relative;
    display: grid;
    grid-template-rows: repeat(3 , 10vw);
    grid-template-columns: repeat(3, 10vw);
    
}
.line{
    background-color: #4023b9;
    position: absolute;
    height: 3px;
    width: 0;
    left: 0px;
    transition: 1s ease-in-out;

}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    font-size: 8vw;
}

.box:hover{
    background-color: rgb(165, 165, 230);
}

.imgBox img{
    width: 0;
    transition: width 1s ease-in-out;
}

.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}


@media screen and (max-width:600px) {

    .gameContainer{
        flex-wrap: wrap;
    }
    .gameInfo{
        margin-top: 34px;
        font-size: 12px;
        text-align: center;
    }

    .gameInfo h1{
        font-size: 1rem;
    }
    
    .imgBox{
        width: 50px;
    }
    .container{
        display: grid;
        grid-template-rows: repeat(3 , 20vw);
        grid-template-columns: repeat(3, 20vw);
        

    }
    
   
}